<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <a href="/logout"><button>Logout</button></a>
    {% if friends|length == 0 %}
        <p>You don't have any friends yet!</p>
    {% endif %}
    <fieldset>
        <legend>Friends</legend>
        {% for u in friends %}
            <table border=1>
                <tr>
                    <th>Friend</th>
                    <th>Action</th>
                </tr>            
                <tr>
                    <td>{{u.name}}</td>
                    <td>
                        <a href="/view_profile/{{u.id}}"><button>View Profile</button></a>       
                        <a href="/remove_friend/{{u.id}}"><button>Remove Friend</button></a>
                    </td>
                </tr>
            </table>
            <hr>
       
        {% endfor%}
    </fieldset>

    <fieldset>
            <legend>Users not on Friends list</legend>
            {{all_users}}
            {% for u in not_friends %}
                <table border=1>
                    <tr>
                        <th>User</th>
                        <th>Action</th>
                    </tr>            
                    <tr>
                        <td><a href="/view_profile/{{u.id}}"><button>{{u.name}}</button></a></td>
                        <td>
                            <a href="/add_friend/{{u.id}}"><button>Add as Friend</button></a>
                        </td>
                    </tr>
                </table>
                <hr>
            {% endfor %}
        </fieldset>
</body>
</html>