<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <a href="/logout"><button align="right">Logout</button></a>
    <fieldset>
        <h1>{{user.name}}</h1>
        <ul>
            <li>Name: {{user.name}}</li>
            <li>Username: {{user.username}}</li>
        </ul>
       
    </fieldset>
</body>
</html>
